# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: trc-data-reader-deploy

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  test-build-and-release-package:
    if: github.repository == 'hsorby/trc-data-reader'
    runs-on: ubuntu-24.04
    name: Release package
    permissions:
      contents: write
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Release Python package
        uses: hsorby/release-python-package-action@v2
        with:
          pypi-package-name: trc-data-reader
          run-tests: unittest
